.containerProd{
    margin: 0 auto;
    width: 50%;
    margin-top: 6rem;
    text-align: center;
}

.formProd{
    margin-top: 6rem;
}

.nomeProd{
    color:black;
}
.botaoAtualiza{
    margin-right: 1rem;
}