.containerCli{
    margin: 0 auto;
    width: 50%;
    margin-top: 6rem;
    text-align: center; 
}

.formCli{
    margin-top: 6rem;
}

.nomeCli{
    color:black;
}

.collection-item{
    color:black !important;
}

.button{
    margin-top: 2rem;
    }

.dropdown-content li>a, .dropdown-content li>span {
        font-size: 16px;
        color:black;
        display: block;
        line-height: 22px;
        padding: 14px 16px;
}